.root {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.input {
  margin-right: 5px;
}

.hints {
  left: 0;
  top: 21px;
  position: absolute;
  width: 100%;
  max-width: 177px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.button {
  border: 0;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }

  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

.word-filter {
  display: flex;
  margin: 3px 5px 0 0;
}

.delete-button {
  cursor: pointer;
  padding: 0;
  border-radius: 100px;
  align-items: center;
  border: 1px solid gray;
  margin-left: 3px;

  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='m7 7 18 18M7 25 25 7' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px'/%3E%3C/svg%3E");
  }
}
